In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_excel('profile-data.xlsx', sheet_name='data')

In [7]:
df.head()

,Profile Link,Name,Bachelors,Bachelors Keywords,bachelors_keywords,masters,Masters Keywords,masters_keywords,phd,PhD Keywords,...,Previous Companies,supervised,unsupervised,deep,Reinforcement,system_design,sql,stats,database,research
0,https://www.linkedin.com/in/mohammad-yawar-3b3...,Mohammad Yawar,Yes,Civil Engineering,Engineering,Yes,Data Science,Data Science,No,NaN,...,Kentech Group,Yes,Yes,No,No,No,Yes,Yes,Yes,No
1,https://www.linkedin.com/in/aanchal-nagpal/,Aanchal Nagpal,Yes,Electronics,Electrical Engineering,Yes,Informatics,IT,No,NaN,...,"Axtria, Atos",No,No,No,No,No,Yes,Yes,Yes,No
2,https://www.linkedin.com/in/nisha-dalal-418323...,Nisha Dalal,Yes,Economics,Economics,Yes,Statistics,Statistics,No,NaN,...,NaN,No,No,No,No,No,Yes,Yes,Yes,No
3,https://www.linkedin.com/in/jingyu-zhang-38709...,Jingyu Zhang,Yes,Accounting,Mathematics,Yes,Business Analytics,Data Science,No,NaN,...,Advance Auto Parts,No,No,No,No,No,Yes,Yes,Yes,No
4,https://www.linkedin.com/in/yanyu-anne-liu-59b...,Yanyu (Anne) Liu,Yes,Mathematics,Mathematics,Yes,Statistics,Statistics,No,NaN,...,"Suning, QuaEra",Yes,Yes,Yes,No,No,Yes,Yes,Yes,No

In [14]:
df['Bachelors Keywords'].value_counts()
# Computer Science
# Electrical
# Mathematics
# Economics
# Engineering
# Science (Physics, Bio, chem)
# IT
# HSS
# Others

Computer Science                                18
Electrical Engineering                           6
Mathematics                                      5
Economics                                        4
Physics                                          4
Psychology                                       3
Applied Mathematics                              3
Statistics                                       3
Computer Engineering                             3
Information Technology                           3
Economics, Mathematics                           2
Computer Science and Engineering                 2
Industrial Engineering                           2
Electrical and Electronics Engineering           2
Mechanical Engineering                           2
Accounting                                       2
Data Analytics, Machine Learning                 1
Mathematics, Computer Engineering                1
Civil Engineering                                1
Mathematics, Physics                             1
Computer Software Engineering                    1
Bioinformatics                                   1
Information Systems & Decision Sciences\n        1
Automation                                       1
Electronics and Communication                    1
Philosophy                                       1
Biology                                          1
Business Administration and Management           1
Electronics and Communication Engineering\n      1
Design and Visual Communications                 1
Business Studies                                 1
Electrical and Biomedical Engineering            1
Marketing                                        1
Physical Chemistry                               1
English                                          1
Political Science and Economics                  1
Supply Chain Management                          1
Finance and Information Systems                  1
Finance and Financial Management Services        1
Accounting                                       1
Finance and Management Information Systems       1
Electrical Engineering and Finance               1
Mathematics, Statistics, Physics                 1
Electronics                                      1
Energy and Environmental Systems Engineering     1
Information Management                           1
Information Science and Engineering              1
Name: Bachelors Keywords, dtype: int64

In [15]:
df['masters_keywords'].value_counts()

Computer Science    31
Data Science        11
Statistics           9
Science              6
Engineering          5
Economics            5
IT                   4
Machine Learning     4
HSS                  2
Name: masters_keywords, dtype: int64

In [16]:
df['phd_keywords'].value_counts()

Computer Science    11
Science             10
Statistics           6
Engineering          3
Machine Learning     2
HSS                  1
Name: phd_keywords, dtype: int64

In [17]:
df['previous_roles'].value_counts()

Data Scientist                                    17
Software Engineer                                 12
Machine Learning Engineer                          5
Data Analyst                                       4
Senior Data Scientist                              4
Operations Analyst                                 2
Machine Learning Research Scientist                2
Research Assistant                                 2
Machine Learning Engineer II                       2
Senior Software Engineer                           2
Senior Research Scientist                          2
Business Analyst                                   2
Staff Research Scientist                           1
Machine Learning Research Scientist II             1
Chief Technology Officer                           1
Vice President                                     1
Senior Applied Scientist                           1
Interim Research Engineer                          1
Consultant                                         1
Senior Machine Learning Engineer                   1
Software Engineer 2                                1
Applied Research Engineer                          1
Lead Computer Scientist                            1
Data Engineer                                      1
Senior Solutions Architect                         1
Senior Engineer                                    1
Research Scientist                                 1
Applied Scientist II                               1
Technical Product Supervisor                       1
Senior Strategy & Operations Analyst               1
Lead Analyst                                       1
Trade Compliance Specialist                        1
Technical Analyst                                  1
Quantitative Research                              1
Venture Technology Manager                         1
Fab Planning Manager                               1
Forecasting Analyst                                1
Supply Chain Transportation Analyst                1
Researcher                                         1
Business Intelligence Engineer                     1
Senior Analyst                                     1
Algorithm Engineer                                 1
Sr Business Intelligence Developer / Team Lead     1
Data Manager                                       1
Senior Data Engieer                                1
Senior Associate                                   1
Head of ML Ops                                     1
Data Quality Coordinator                           1
Data Scientist Fellow                              1
Audit Senior                                       1
Senior Business Associate                          1
Senior Expert in Automated Driving                 1
Staff Machine Learning Engineer                    1
Name: previous_roles, dtype: int64

In [12]:
feature_list = ['bachelors_keywords', 'masters', 'masters_keywords',
       'phd', 'phd_keywords', 'postdoc',
       'current_domain',
       'tot_exp', 'dom_exp',
       'previous_roles', 'supervised', 'unsupervised',
       'deep', 'system_design', 'sql', 'stats', 'database',
       'research']
parsed_df = df[feature_list]

KeyError: "['tot_exp', 'dom_exp'] not in index"

In [13]:
closeness_df = pd.read_excel('profile-data.xlsx', sheet_name='domain_closeness')

In [12]:
data = parsed_df.merge(closeness_df)

In [13]:
data.head()

       bachelors_keywords masters  ... ds_closeness ml_closeness
0             Engineering     Yes  ...          1.0          0.0
1               Economics      No  ...          1.0          0.0
2  Electrical Engineering     Yes  ...          1.0          0.0
3               Economics     Yes  ...          0.5          0.5
4             Mathematics     Yes  ...          0.5          0.5

[5 rows x 20 columns]

In [14]:
!pip install kmodes

Collecting kmodes
  Downloading kmodes-0.11.1-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.1.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.19.5)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->kmodes) (3.0.0)
Installing collected packages: kmodes
Successfully installed kmodes-0.11.1

In [15]:
df = pd.get_dummies(data, columns=['current_domain'], drop_first=True)
df.drop('previous_roles', axis=1, inplace=True)
df.fillna('None', inplace=True)
X = df.drop('current_domain_Machine Learning', axis=1).values
y = df['current_domain_Machine Learning'].values

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 96
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   bachelors_keywords               97 non-null     object
 1   masters                          97 non-null     object
 2   masters_keywords                 97 non-null     object
 3   phd                              97 non-null     object
 4   phd_keywords                     97 non-null     object
 5   postdoc                          97 non-null     object
 6   tot_exp                          97 non-null     float64
 7   dom_exp                          97 non-null     float64
 8   supervised                       97 non-null     object
 9   unsupervised                     97 non-null     object
 10  deep                             97 non-null     object
 11  system_design                    97 non-null     object
 12  sql                              97 non-null     object
 13  stats                            97 non-null     object
 14  database                         97 non-null     object
 15  research                         97 non-null     object
 16  ds_closeness                     97 non-null     float64
 17  ml_closeness                     97 non-null     float64
 18  current_domain_Machine Learning  97 non-null     uint8
dtypes: float64(4), object(14), uint8(1)
memory usage: 14.5+ KB

In [17]:
#index of categorical columns
categorical_index = list(range(0, 6)) + list(range(8, 16))

In [18]:
from kmodes.kprototypes import KPrototypes

In [19]:
# Fit the cluster
kprototype = KPrototypes(n_jobs = -1, n_clusters = 2, init = 'Huang', random_state = 0)
kprototype.fit_predict(X, categorical = categorical_index)

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1], dtype=uint16)

In [20]:
# Add the cluster to the dataframe
df['Cluster Labels'] = kprototype.labels_
df['Segment'] = df['Cluster Labels'].map({0:'Machine Learning', 1:'Data Science'})

In [21]:
# Cluster interpretation
df.rename(columns = {'Cluster Labels':'Total'}, inplace = True)
df.groupby('Segment').agg(
    {
        'Total':'count',
        'bachelors_keywords': lambda x: x.value_counts().index[0],
        'masters_keywords': lambda x: x.value_counts().index[0],
        'masters': lambda x: x.value_counts().index[0],
        'phd': lambda x: x.value_counts().index[0],
        'postdoc': lambda x: x.value_counts().index[0],
        'supervised': lambda x: x.value_counts().index[0],
        'unsupervised': lambda x: x.value_counts().index[0],
        'deep': lambda x: x.value_counts().index[0],
        'system_design': lambda x: x.value_counts().index[0],
        'sql': lambda x: x.value_counts().index[0],
        'database': lambda x: x.value_counts().index[0],
        'research': lambda x: x.value_counts().index[0],
        'tot_exp': 'mean',
        'dom_exp': 'mean',
        'ds_closeness': 'mean',
        'ml_closeness': 'mean',
    }
).reset_index()

            Segment  Total  ... ds_closeness ml_closeness
0      Data Science     18  ...     0.754902     0.245098
1  Machine Learning     79  ...     0.435592     0.564408

[2 rows x 18 columns]

In [22]:
def XNOR(a,b):
  if(a == b):
    return 1
  else:
    return 0
correct = sum([XNOR(a,b) for a,b in zip(kprototype.labels_, y)])
print(correct)

37

In [23]:
print('accuracy = ' + str(correct/len(y)))

accuracy = 0.38144329896907214

In [30]:
from sklearn.metrics import precision_recall_fscore_support
scores = precision_recall_fscore_support(y, kprototype.labels_, average='macro')
# print('Precision: {0}, Recall: {1}'.format(scores[:2]))
print(scores[0])

0.319971870604782